Source: freesci
Section: games
Priority: extra
Maintainer: Bas Zoetekouw <bas@debian.org>
Standards-Version: 3.5.2
Build-Depends: debhelper (>=3.0.15),sgmltools-2, libggi2-dev, libncurses5-dev, libpng2-dev, libreadline4-dev (>=4.1), zlib1g-dev, flex, libasound1-dev

Package: freesci
Architecture: alpha arm i386 powerpc sparc
Depends: ${shlibs:Depends}, libggi2, libggi-target-x, zlib1g
Suggests: freesci-doc
Description: a portable interpreter for SCI games like Space Quest 3
 FreeSCI is a portable interpreter for SCI games, such as the Space Quest
 series (starting with SQ3) or Leisure Suit Larry (2 and sequels).
 .
 FreeSCI is in beta right now; the current release still has several known
 bugs. It is feature-complete within the following limits:
   - Only SCI0 games are supported
   - The SCI debug functions aren't fully supported (and probably never
     will be, since FreeSCI uses its own debug functions).
 .
 It offers the following improvements over Sierra SCI:
   - Improved background picture support
   - Trilinear filtering for text and images
   - readline-like editing in controls
   - General MIDI sound output (still experimental)

Package: freesci-doc
Architecture: all
Description: Documentation for FreeSCI
 This is the documentation for FreeSCI, a portable interpreter for SCI
 games, such as the Space Quest series. It also contains a book
 describing the SCI (versions 0, 1 and 2) to the extent known to the
 general public.
